@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --light-blue: hsl(228, 45%, 44%);
    --dark-blue: hsl(218, 44%, 22%);
    --black: #0A1612;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background-color: var(--light-gray);
}


.container {
    margin: 20% auto;
    width: 90%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    gap: 20px;
}

.qr-code {
    width: 90%;
    height: auto;
    margin: 5% auto;
    border-radius: 5%;
}

.title {
    font-weight: 700;
    font-size: 24px;
    background-color: var(--white);
    width: 90%;
    text-align: center;
}

.phrase {
    background-color: var(--white);
    width: 90%;
    margin-bottom: 15%;
    text-align: center;
    color: var(--grayish-blue);
    font-size: 18px;

}

.attribution {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .container {
        width: 40%;
        margin: 5% auto;
    }

}